<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Cadastrar Mãe</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="maeForm" (ngSubmit)="salvar()">
      <ion-card>
          <ion-item>
              <ion-label>Inicio no Programa: </ion-label>
              <ion-input type="date" formControlName="inicioPrograma"></ion-input>
          </ion-item>
          <ion-item> 
            <ion-label position="floating">Nome completo:</ion-label>
            <ion-input formControlName="nomeCompleto"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CPF:</ion-label>
          <ion-input formControlName="cpf"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RG</ion-label>
          <ion-input formControlName="rg"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cartão SUS:</ion-label>
          <ion-input formControlName="cartaoSUS"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefone:</ion-label>
          <ion-input formControlName="telefone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefone Apoio:</ion-label>
          <ion-input formControlName="telefoneApoio"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" type="submit" [disabled]="maeForm.invalid">
          Próximo
        </ion-button>
      </ion-card>
    </form>
  </ion-content>
  