<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Bebê</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bebeForm" (ngSubmit)="salvar()">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Peso ao nascimento (em gramas)</ion-label>
        <ion-input formControlName="peso_nascimento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comprimento Nascimento</ion-label>
        <ion-input formControlName="comprimento_nascimento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Idade Gestacional(Semanas)</ion-label>
        <ion-input formControlName="idade_gestacional_semanas_parto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Idade Gestacional(Dias)</ion-label>
        <ion-input formControlName="idade_gestacional_dias_parto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Peso para idade gestacional</ion-label>
        <ion-select interface="popover" formControlName="id_escala" placeholder="Selecione">
          <ion-select-option *ngFor="let tipo of servico.listaTipoEscala" [value]="tipo.id">{{ tipo.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apgar 1º minuto</ion-label>
        <ion-input formControlName="apgar_1_min"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apgar 5º minuto</ion-label>
        <ion-input formControlName="apgar_5_min"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Perímetro Cefálico Nascimento</ion-label>
        <ion-input formControlName="perimetro_cefalico_nascimento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Perímetro Abdominal Nascimento</ion-label>
        <ion-input formControlName="perimetro_abdominal_nascimento"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" [disabled]="bebeForm.invalid">
        Próximo
      </ion-button>
    </ion-card>
  </form>
</ion-content>
