<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Mãe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="maeForm" (ngSubmit)="salvar()">
    <ion-card>
        <ion-item>
            <ion-label>Escolaridade:</ion-label>
            <ion-select formControlName="escolaridade" placeholder="Selecione">
              <ion-select-option *ngFor="let escolaridade of servico.escolaridades" [value]="escolaridade.id">{{ escolaridade.descricao }}</ion-select-option>
            </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="floating">Trabalha Fora:</ion-label>
        <ion-input formControlName="trabalhaFora"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profissão:</ion-label>
        <ion-input formControlName="profissao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quando Retorna ao Trabalho:</ion-label>
        <ion-input formControlName="dataRetorno"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Renda Mensal Familiar:</ion-label>
          <ion-select formControlName="rendaMensalFamiliar" placeholder="Selecione">
            <ion-select-option *ngFor="let renda of servico.rendaFamiliar" [value]="renda.id">{{ renda.descricao }}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de Moradores da Casa:</ion-label>
        <ion-input formControlName="numeroMoradores"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado Civil:</ion-label>
        <ion-input formControlName="estadoCivil"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagem:</ion-label>
        <ion-input formControlName="imagem"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Observação:</ion-label>
        <ion-input formControlName="observacoes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data</ion-label>
        <ion-input formControlName="data"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Preenchido Por:</ion-label>
        <ion-input formControlName="preenchidoPor"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit" [disabled]="maeForm.invalid">
        Salvar
      </ion-button>
    </ion-card>
  </form>
</ion-content>
