<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Buscar Mães</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input [(ngModel)]="busca" placeholder="Nome ou CPF" type="text" autofocus clearInput></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="buscarMaes()">
      Buscar
    </ion-button>
  </ion-card>

  <ion-card *ngFor="let mae of maes">
    <ion-card-header>
      <ion-item lines="none">
        {{ mae.nome }}
        <ion-icon name="search" slot="end"></ion-icon>
        <ion-icon name="happy" slot="end"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
