<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Buscar Mães</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="busca" placeholder="Digite o nome ou CPF..." type="text" autofocus clearInput></ion-input>
    <ion-button (click)="buscarMaes()" slot="end" expand="full" fill="clear">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-row *ngIf="carregando" class="ion-text-center ion-padding-top">
    <ion-col size="12"><ion-spinner></ion-spinner></ion-col>
    <ion-col size="12">Carregando...</ion-col>
  </ion-row>

  <ion-card *ngFor="let mae of maes">
    
    <ion-card-header>
      <ion-card-title>{{ mae.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        
        <ion-col size="9">
          <ion-row>
            <ion-col size="12"><ion-label>CPF: {{ mae.cpf }}</ion-label></ion-col>
            <ion-col size="12"><ion-label>Telefone: {{ mae.telefone }}</ion-label></ion-col>
            <ion-col size="12">
              <ion-label> 
                <template *ngIf="mae.area_desc">{{ mae.area_desc }}</template>
                <template *ngIf="mae.micro_area_desc">/{{ mae.micro_area_desc }}</template>
              </ion-label>
            </ion-col>
            <ion-col size="12"><ion-label>Inicio: {{ mae.dt_inicio_projeto_maebebe }}</ion-label></ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="3">
          <ion-button disabled (click)="abrirEdicaoMae(mae)" fill="clear">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button (click)="abrirGestacoes(mae)" fill="clear">
            <ion-icon name="happy" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button disabled (click)="abrirEvolucoes(mae)" fill="clear">
              <ion-icon name="trending-up" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="carregarPaginas($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
