<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="sair()" title="Sair">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed text-center>
    <ion-row *ngIf="user">
      <ion-col size="12">
        <h3>Bem-vindo <b>{{ user.nome }}</b></h3>
        <h4><b>{{ user.email }}</b></h4>
        <h5>Seu perfil é: <b>{{ user.tipo }}</b></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-select [(ngModel)]="url" placeholder="Selecione a URL">
          <ion-select-option *ngFor="let urlApi of listaUrls" [value]="urlApi">{{ urlApi.nome }}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="fazerRequisicao()" expand="block">Enviar requisição</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="retorno">
      <ion-col size="12">
        {{ escreverRetorno() }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>