<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Bebê</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bebeForm" (ngSubmit)="salvar()">
    <ion-card>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf" maxlength="14" [brmasker]="{person: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">RG</ion-label>
        <ion-input formControlName="rg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cartão SUS</ion-label>
        <ion-input formControlName="cartao_sus"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Estado</ion-label>
        <ion-select formControlName="id_estado" placeholder="Selecione">
          <ion-select-option *ngFor="let tipo of servico.listaEstados" [value]="tipo.id_estado">{{ tipo.nome_estado }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cidade</ion-label>
        <ion-select formControlName="id_cidade" placeholder="Selecione">
          <!-- <ion-select-option *ngFor="let tipo of servico.listaEstados" [value]="tipo.id_estado">{{ tipo.nome_estado }}</ion-select-option> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bairro</ion-label>
        <ion-select formControlName="id_bairro" placeholder="Selecione">
          <!-- <ion-select-option *ngFor="let tipo of servico.listaEstados" [value]="tipo.id_estado">{{ tipo.nome_estado }}</ion-select-option> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Observação</ion-label>
        <ion-textarea rows="4" formControlName="obs"></ion-textarea>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" [disabled]="bebeForm.invalid">
        Próximo
      </ion-button>
    </ion-card>
  </form>
</ion-content>
