<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Buscar Bebês</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="busca" placeholder="Digite o nome..." type="text" autofocus clearInput></ion-input>
    <ion-button (click)="buscarBebes()" slot="end" expand="full" fill="clear">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
  