<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Mãe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="maeForm" (ngSubmit)="salvar()">
    <ion-card>
      <ion-item>
          <ion-label>Área</ion-label>
          <ion-select formControlName="area" placeholder="Selecione">
            <ion-select-option *ngFor="let area of servico.areas" [value]="area.id_area">{{ area.area_descricao }}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Micro Área</ion-label>
          <ion-select interface="popover"  formControlName="microarea" placeholder="Selecione">
            <ion-select-option value="1">Micro Area 1</ion-select-option>
            <ion-select-option value="2">Micro Area 2</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit" [disabled]="maeForm.invalid">
        Próximo
      </ion-button>
    </ion-card>
  </form>
</ion-content>
