<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Gestações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-text-center" *ngIf="mae">
    <ion-label>Gestações de {{ mae.nome }}</ion-label>
  </ion-item>

  <ion-row *ngIf="carregando" class="ion-text-center ion-padding-top">
    <ion-col size="12"><ion-spinner></ion-spinner></ion-col>
    <ion-col size="12">Carregando...</ion-col>
  </ion-row>

  <ion-card *ngFor="let gestacao of gestacoes">
    
    <ion-card-header>
      <ion-row>
        <ion-col size="6">
          <ion-card-title>#{{ gestacao.id_gestacao }}</ion-card-title>
          <ion-card-subtitle>{{ gestacao.tipo_desfecho_desc }}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <ion-button disabled fill="clear" (click)="abrirEdicaoGestacao(gestacao)">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="abrirListagemBebes(gestacao)">
            <ion-icon name="happy" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col no-padding size="12" *ngIf="gestacao.tipo_motivo_desfecho_desc"><ion-label>Motivo: {{ gestacao.tipo_motivo_desfecho_desc }}</ion-label></ion-col>
        <ion-col no-padding size="12">
          <ion-label>Bebes: {{ gestacao.qtd_bebes }}</ion-label>
        </ion-col>
        <ion-col no-padding size="12">
          <ion-label>Acompanhamentos: {{ gestacao.qtd_acompanhamentos }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <br><br><br>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="abrirCadastroGestacao()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
