<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="voltar()"><ion-icon size="large" slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Cadastrar Mãe</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup]="maeForm" (ngSubmit)="salvar()">
    <ion-card>
        <ion-item>
            <ion-label position="floating">CEP:</ion-label>
            <ion-input formControlName="cep"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Estado:</ion-label> 
            <ion-input formControlName="estado"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Cidade:</ion-label> 
              <ion-input formControlName="cidade"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Bairro:</ion-label> 
              <ion-input formControlName="bairro"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Endereço:</ion-label> 
              <ion-input formControlName="endereco"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Número:</ion-label> 
              <ion-input formControlName="numero"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Complemento:</ion-label>
              <ion-input formControlName="complemento"></ion-input> 
          </ion-item>
          <ion-item>
              <ion-label position="floating">Ponto de Referência:</ion-label> 
              <ion-input formControlName="pontoReferencia"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Moradia:</ion-label> 
              <ion-input formControlName="moradia"></ion-input>
          </ion-item>
      <ion-button expand="block" color="primary" type="submit" [disabled]="maeForm.invalid">
        Próximo
      </ion-button>
    </ion-card>
  </form>
</ion-content>
